.card {
    position: relative;
    top: -40px;
    background: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
}

.card h2 {
    font-size: 22px;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.card p {
    color: #555555;
    font-family: 'Open Sans', sans-serif;
}