/*
 Hauptstylesheet
 (c) Yannick F&#233;lix 2015
*/

html, body {
    height: 100%;
    margin: 0;
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /*Entfernen des Blauen Overlays auf Touchgeräten beim tippen*/
}

core-scaffold::shadow core-toolbar { /* Toolbar */
    background-color: #3F51B5;
}

.core-toolbar core-scaffold::shadow core-header-panel { /* Funkt nicht */
    background-color: red;
}

paper-ripple {
    color: #7986CB;
}

.card {
    margin: 10px;
    padding: 5px;
    font-size: 18px;
}

h2 {
    padding: 0;
    margin: 0;
}

p {
    color: #555555;
}

#countdown {
    font-weight: bold;
}

