$fonts: "Ubuntu", sans-serif;
$primarybg:          #3F51B5;
$primarybgdark:      #303F9F;
$primarybglight:     #E8EAF6;
$primarytext:        white;
$secondarybg:        #3F51B5;
$secondarybgdark:    #303F9F;
$secondarybglight:   #9FA8DA;
$secondarytext:      black;
$secondarytextlight: #888;
$accountcolor:       #4CAF50;
$stateLiveColor:     #4CAF50;
$stateTestColor:     #FFC107;
$stateInvalidColor:  #f44336;
$linkColor:          #2196F3;
$uPreUsrColor:       black;
$uPreModColor:       #FFC107;
$uPreAdmColor:       #f44336;

@mixin input-placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder{
    color: $color;
  }
  &::-moz-placeholder {//for newer versions of Firefox
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

body {
  background-color: $primarybglight;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $primarybg;
  box-shadow: 0px 3px 3px 3px $primarybgdark;
  height: 60px;

  .logo {
    color: $primarytext;
    font-family: $fonts;
    font-size: 50px;
    margin-left: 10px;
    line-height: 60px;
    height: 60px;
  }

  .search {
    background-color: $primarybgdark;
    color: $primarytext;
    border: none;
    box-shadow: 0px 1px 2px 1px $primarybgdark;
    position: fixed;
    top: 15px;
    left: 200px;
    width: 400px;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    transition: all 200ms ease-in;
    z-index: 10;
    &:hover {
      box-shadow: 0px 2px 3px 1px $primarybgdark;
    }
    &:focus {
      background-color: white;
      color: black;
      box-shadow: 0px 1px 3px 1px $primarybgdark;
      @include input-placeholder(#666);
      width: 60%;
    }
    @include input-placeholder($primarybglight);
  }

  .title {
    position: fixed;
    right: 40%;
    font-family: $fonts;
    color: $primarytext;
    top: 10px;
    font-size: 26px;
  }


  .account-logo {
    position: fixed;
    right: 20px;
    top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: $accountcolor;
    color: $primarytext;
    font-family: $fonts;
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    &:hover {
      cursor: pointer;
    }
  }

  .account-detail {
    position: fixed;
    background-color: $accountcolor;
    top: 0;
    right: 0;
    margin-top: 65px;
    margin-right: 20px;
    border-radius: 5px;
    display: none;

    box-shadow: 0px 0px 20px -5px black;
    &:after {
      bottom: 100%;
      right: 9.5px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: $accountcolor;
      border-width: 10px;
      margin-left: -10px;
    }
    ul {
      list-style: none;
      padding:3px 0px 2px 0px;
      font-family: $fonts;
      font-size: 17px;
      li {
        padding: 5px 3px 0px 15px;
        color: $primarytext;
        font-weight: bold;
        &:hover {cursor: pointer;}
        a {
          text-transform: none;
          text-decoration: none;
          color: $primarytext;
          font-weight: normal;
        }
      }
      hr {
        padding: 0 0;
        margin: 5px 0 0 0;
        border: none;
        height: 1px;
        background-color: $primarytext;
      }
    }
  }
}

.aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 60px;
  width: 165px;
  box-shadow: -3px 0px 10px 2px $primarybgdark;
  background-color: white;
  z-index: -1;
  ul {
    list-style: none;
    padding:3px 0px 2px 0px;
    font-family: $fonts;
    font-size: 17px;
    li {
      padding: 5px 3px 5px 15px;
      text-transform: uppercase;
      color: $secondarytextlight;
      font-weight: bold;
      &:hover {cursor: pointer;}
      a {
        text-transform: none;
        text-decoration: none;
        color: $secondarytext;
        font-weight: normal;
      }
    }
    hr {
      padding: 0 0 0 0;
      border: none;
      height: 1px;
      background-color: $primarybglight;
    }
  }
}

.content {
  position: absolute;
  padding: 10px 10px;
  left: 165px;
  top: 60px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: $primarybglight;
}

table.pages {
  box-shadow: 0 0 2px 0 $primarybgdark;
  margin: 20px 10px 20px 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  table-layout: fixed;
  border-collapse: collapse;
  padding: 0;
  thead tr th {
    font-family: $fonts;
    text-align: left;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    padding: 7px 0;
    &.new {
      text-align: right;
      background: transparent;
      a {
        text-decoration: none;
        color: $linkColor;
        font-size: 36px;
      }
    }
  }

  tbody tr {
    td {
      background-color: white;
      font-family: $fonts;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      padding: 7px 5px;
      div.list-name {
        font-size: 20px;
        font-weight: bold;
      }
      div.list-type {
        font-size: 14px;
        font-weight: normal;
        color: $secondarytextlight;
      }
      .live {
        color: $stateLiveColor;
        font-weight: bold;
      }
      .test {
        color: $stateTestColor;
        font-weight: bold;
        margin-top: -5px;
      }
      .invalid {
        color: $stateInvalidColor;
        font-weight: bold;
      }
      .disabled {
        color: #bbb;
        font-weight: bold;
      }
      a {
        text-decoration: none;
        font-size: 32px;
        margin-left: 10px;
        &.normal {
          color: $secondarytextlight;
          font-weight: bold;
        }
        &.approve {
          color: $stateLiveColor;
          font-weight: bold;
        }
        &.deny {
          color: $stateInvalidColor;
          font-weight: bold;
        }
        &.disabled {
          color: #bbb;
          font-weight: bold;
        }
      }
    }
  }
}

table.edit {
  margin: 10px 10px 10px 10px;
  position: absolute;
  left: 30%;
  right: 30%;
  top: 40px;
  width: 40%;
  border-collapse: collapse;
  thead tr th {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 25px;
    background-color: #fefefe;
    padding: 7px 0 7px 10px;
    vertical-align: middle;
  }

  tbody tr td, tbody tr th  {
    font-family: "Ubuntu", sans-serif;
    text-align: left;
    background-color: #fefefe;
    padding: 7px 0 7px 10px;
    vertical-align: middle;
  }

  input {
    border: none;
    padding: 5px;
    @include input-placeholder($stateInvalidColor);
    &[type=submit] {
      border: none;
      text-transform: uppercase;
      font-weight: bold;
      font-family: "Ubuntu", sans-serif;
      color: #2196F3;
      background-color: transparent;
      font-size: 15px;
      cursor: pointer;
    }
  }
}

.uPreUsr {
  color: $uPreUsrColor;
}

.uPreAdm {
  color: $uPreAdmColor;
}

.uPreMod {
  color: $uPreModColor;
}

ins {
  text-decoration: none;
  background-color: $stateLiveColor;
}

del {
  text-decoration: none;
  background-color: $uPreAdmColor;
}

/* label underline focus color */
.input-field input[type=text] {
  border-bottom: 1px solid #000;
}
/* label underline focus color */
.input-field input[type=email] {
  border-bottom: 1px solid #000;
}
/* label underline focus color */
.input-field input[type=password] {
  border-bottom: 1px solid #000;
}