body {
  background-color: #E8EAF6; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #3F51B5;
  box-shadow: 0px 3px 3px 3px #303F9F;
  height: 60px; }
  .header .logo {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
    margin-left: 10px;
    line-height: 60px;
    height: 60px; }
  .header .search {
    background-color: #303F9F;
    color: white;
    border: none;
    box-shadow: 0px 1px 2px 1px #303F9F;
    position: fixed;
    top: 15px;
    left: 200px;
    width: 400px;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    transition: all 200ms ease-in;
    z-index: 10; }
    .header .search:hover {
      box-shadow: 0px 2px 3px 1px #303F9F; }
    .header .search:focus {
      background-color: white;
      color: black;
      box-shadow: 0px 1px 3px 1px #303F9F;
      width: 60%; }
      .header .search:focus::-webkit-input-placeholder {
        color: #666; }
      .header .search:focus:-moz-placeholder {
        color: #666; }
      .header .search:focus::-moz-placeholder {
        color: #666; }
      .header .search:focus:-ms-input-placeholder {
        color: #666; }
    .header .search::-webkit-input-placeholder {
      color: #E8EAF6; }
    .header .search:-moz-placeholder {
      color: #E8EAF6; }
    .header .search::-moz-placeholder {
      color: #E8EAF6; }
    .header .search:-ms-input-placeholder {
      color: #E8EAF6; }
  .header .title {
    position: fixed;
    right: 40%;
    font-family: "Ubuntu", sans-serif;
    color: white;
    top: 10px;
    font-size: 26px; }
  .header .account-logo {
    position: fixed;
    right: 20px;
    top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 35px;
    line-height: 40px; }
    .header .account-logo:hover {
      cursor: pointer; }
  .header .account-detail {
    position: fixed;
    background-color: #4CAF50;
    top: 0;
    right: 0;
    margin-top: 65px;
    margin-right: 20px;
    border-radius: 5px;
    display: none;
    box-shadow: 0px 0px 20px -5px black; }
    .header .account-detail:after {
      bottom: 100%;
      right: 9.5px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #4CAF50;
      border-width: 10px;
      margin-left: -10px; }
    .header .account-detail ul {
      list-style: none;
      padding: 3px 0px 2px 0px;
      font-family: "Ubuntu", sans-serif;
      font-size: 17px; }
      .header .account-detail ul li {
        padding: 5px 3px 0px 15px;
        color: white;
        font-weight: bold; }
        .header .account-detail ul li:hover {
          cursor: pointer; }
        .header .account-detail ul li a {
          text-transform: none;
          text-decoration: none;
          color: white;
          font-weight: normal; }
      .header .account-detail ul hr {
        padding: 0 0;
        margin: 5px 0 0 0;
        border: none;
        height: 1px;
        background-color: white; }

.aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 60px;
  width: 165px;
  box-shadow: -3px 0px 10px 2px #303F9F;
  background-color: white;
  z-index: -1; }
  .aside ul {
    list-style: none;
    padding: 3px 0px 2px 0px;
    font-family: "Ubuntu", sans-serif;
    font-size: 17px; }
    .aside ul li {
      padding: 5px 3px 5px 15px;
      text-transform: uppercase;
      color: #888;
      font-weight: bold; }
      .aside ul li:hover {
        cursor: pointer; }
      .aside ul li a {
        text-transform: none;
        text-decoration: none;
        color: black;
        font-weight: normal; }
    .aside ul hr {
      padding: 0 0 0 0;
      border: none;
      height: 1px;
      background-color: #E8EAF6; }

.content {
  position: absolute;
  padding: 10px 10px;
  left: 165px;
  top: 60px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #E8EAF6; }

table.pages {
  box-shadow: 0 0 2px 0 #303F9F;
  margin: 20px 10px 20px 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  table-layout: fixed;
  border-collapse: collapse;
  padding: 0; }
  table.pages thead tr th {
    font-family: "Ubuntu", sans-serif;
    text-align: left;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    padding: 7px 0; }
    table.pages thead tr th.new {
      text-align: right;
      background: transparent; }
      table.pages thead tr th.new a {
        text-decoration: none;
        color: #2196F3;
        font-size: 36px; }
  table.pages tbody tr td {
    background-color: white;
    font-family: "Ubuntu", sans-serif;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    padding: 7px 5px; }
    table.pages tbody tr td div.list-name {
      font-size: 20px;
      font-weight: bold; }
    table.pages tbody tr td div.list-type {
      font-size: 14px;
      font-weight: normal;
      color: #888; }
    table.pages tbody tr td .live {
      color: #4CAF50;
      font-weight: bold; }
    table.pages tbody tr td .test {
      color: #FFC107;
      font-weight: bold;
      margin-top: -5px; }
    table.pages tbody tr td .invalid {
      color: #f44336;
      font-weight: bold; }
    table.pages tbody tr td .disabled {
      color: #bbb;
      font-weight: bold; }
    table.pages tbody tr td a {
      text-decoration: none;
      font-size: 32px;
      margin-left: 10px; }
      table.pages tbody tr td a.normal {
        color: #888;
        font-weight: bold; }
      table.pages tbody tr td a.approve {
        color: #4CAF50;
        font-weight: bold; }
      table.pages tbody tr td a.deny {
        color: #f44336;
        font-weight: bold; }
      table.pages tbody tr td a.disabled {
        color: #bbb;
        font-weight: bold; }

table.edit {
  margin: 10px 10px 10px 10px;
  position: absolute;
  left: 30%;
  right: 30%;
  top: 40px;
  width: 40%;
  border-collapse: collapse; }
  table.edit thead tr th {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 25px;
    background-color: #fefefe;
    padding: 7px 0 7px 10px;
    vertical-align: middle; }
  table.edit tbody tr td, table.edit tbody tr th {
    font-family: "Ubuntu", sans-serif;
    text-align: left;
    background-color: #fefefe;
    padding: 7px 0 7px 10px;
    vertical-align: middle; }
  table.edit input {
    border: none;
    padding: 5px; }
    table.edit input::-webkit-input-placeholder {
      color: #f44336; }
    table.edit input:-moz-placeholder {
      color: #f44336; }
    table.edit input::-moz-placeholder {
      color: #f44336; }
    table.edit input:-ms-input-placeholder {
      color: #f44336; }
    table.edit input[type=submit] {
      border: none;
      text-transform: uppercase;
      font-weight: bold;
      font-family: "Ubuntu", sans-serif;
      color: #2196F3;
      background-color: transparent;
      font-size: 15px;
      cursor: pointer; }

.uPreUsr {
  color: black; }

.uPreAdm {
  color: #f44336; }

.uPreMod {
  color: #FFC107; }

ins {
  text-decoration: none;
  background-color: #4CAF50; }

del {
  text-decoration: none;
  background-color: #f44336; }

/* label underline focus color */
.input-field input[type=text] {
  border-bottom: 1px solid #000; }

/* label underline focus color */
.input-field input[type=email] {
  border-bottom: 1px solid #000; }

/* label underline focus color */
.input-field input[type=password] {
  border-bottom: 1px solid #000; }

/*# sourceMappingURL=editor.css.map */
